<div>
  <div *ngIf="monthlyCashFlows" class="table">
    <table class="table top-margin">
      <thead>
        <tr>
          <th>Month</th>
          <th>Interest</th>
          <th>Principal</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let monthlyCashFlow of monthlyCashFlows; let i=index">
          <td>{{monthlyCashFlow.month}}</td>
          <td>{{monthlyCashFlow.interest}}</td>
          <td>{{monthlyCashFlow.principal}}</td>
          <td>{{monthlyCashFlow.balance}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="endOfLoans" class="pooled-cash-flows-container">
  <div>
    <h4 class="left-padding">Pooled Monthly Cash Flows</h4>
    <div class="table">
      <table class="table top-margin">
        <thead>
          <tr>
            <th>Month</th>
            <th>Interest</th>
            <th>Principal</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pooledMonthlyCashFlow of pooledMonthlyCashFlows; let i=index">
            <td>{{pooledMonthlyCashFlow.month}}</td>
            <td>{{pooledMonthlyCashFlow.interest}}</td>
            <td>{{pooledMonthlyCashFlow.principal}}</td>
            <td>{{pooledMonthlyCashFlow.balance}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
