<div id="header" class="left-padding">
<h2>{{!cashFlowsDisplayed ? 'Loans' : 'Monthly Cash Flows'}}</h2>
  <div id="action-container">
    <button *ngIf="!loanFormDisplayed && !cashFlowsDisplayed" type="button" (click)="addNewLoan()" class="btn btn-primary">Add New Loan</button><br>
    <button *ngIf="cashFlowButtonDisplayed && !cashFlowsDisplayed" (click)="displayMonthlyCashFlows()" class="btn btn-secondary">Monthly Cash Flows</button>
    <button *ngIf="cashFlowsDisplayed" (click)="displayMonthlyCashFlows()" class="btn btn-secondary">Back To Loans</button>
  </div>
</div>
<div *ngIf="!loans.length && !loanFormDisplayed" class="no-content-header left-padding">
  <h4>Please add a loan for calculation</h4>
</div>
<div *ngIf="loansTableDisplayed" >
  <table class="table top-margin flex-wrap">
    <thead>
      <tr id="table-header-container" class="table-header">
        <th>Name</th>
        <th>Balance</th>
        <th>Term (Months)</th>
        <th>Rate (%)</th>
      </tr>
    </thead>
    <tbody>
      <tr id="loans-table" *ngFor="let loan of loans; let i=index">
        <td>{{loan.name}}</td>
        <td>{{loan.balance}}</td>
        <td>{{loan.term}}</td>
        <td>{{loan.rate}}</td>
        <button *ngIf="deleteLoan" class="btn btn-danger delete-btn" (click)="deleteLoan(i)">Delete</button>
      </tr>
    </tbody>
  </table>
</div>
<form *ngIf="loanFormDisplayed" name="loanForm" novalidate (ngSubmit)="submitLoanInfo()">
  <div id="loan-form" [formGroup]="loanForm" class="form-group">
    <input formControlName="name" required minLength="1" maxLength="20" class="form-control">
    <input formControlName="balance" required minLength="1" maxLength="13" pattern="^[0-9]*$" class="form-control">
    <input formControlName="term" required minLength="1" maxLength="3" pattern="^.[0-9]*$" class="form-control">
    <input formControlName="rate" required minLength="1" maxLength="4" pattern="^.[0-9]*$" class="form-control">
  </div>
  <div class="float-right">
    <button class="btn btn-primary" type="submit">Submit</button>
    <button class="btn btn-danger loan-form-cancel-btn" type="button" (click)="closeLoanForm()">Cancel</button>
  </div>
  <div *ngIf="submitted && loanForm.invalid" class="alert alert-danger req-fields">
    <div>Name must be 1-20 characters</div>
    <div>Balance must be 1-13 digits</div>
    <div>Term must be 1-3 digits</div>
    <div>Rate must be 1-4 digits (max: 100%)</div>
  </div>
</form>
<div *ngIf="cashFlowsDisplayed" class="border-bottom top-margin"></div>
<div *ngFor="let loan of loans; let i=index">
  <div *ngIf="cashFlowsDisplayed && loans">
    <div class="cash-flows-subheader left-padding">
      <div>
        <h5>Loan:</h5>
        <h5>{{loan.name}}</h5>
      </div>
      <div>
        <h5>Balance:</h5>
        <h5>{{loan.balance}}</h5>
      </div>
      <div>
        <h5>Term:</h5>
        <h5>{{loan.term}} Months</h5>
      </div>
      <div>
        <h5>Rate:</h5>
        <h5>{{loan.rate}} %</h5>
      </div>
    </div>
    <monthly-cash-flows
      [endOfLoans]="i === loans.length - 1"
      [pooledMonthlyCashFlows]="pooledMonthlyCashFlows"
      [currentLoan]="loan">
    </monthly-cash-flows>
  </div>
</div>