<div id="header">
<h2>{{!cashFlowsDisplayed ? 'Loans' : 'Monthly Cash Flows'}}</h2>
  <div id="action-container">
    <button *ngIf="!loanFormDisplayed && !cashFlowsDisplayed" type="button" (click)="addNewLoan()" class="btn btn-primary">Add New Loan</button><br>
    <button *ngIf="cashFlowButtonDisplayed && !cashFlowsDisplayed" (click)="displayMonthlyCashFlows()" class="btn btn-secondary">Monthly Cash Flows</button>
    <button *ngIf="cashFlowsDisplayed" (click)="displayMonthlyCashFlows()" class="btn btn-secondary">Back To Loans</button>
  </div>
</div>
<div *ngIf="loansTableDisplayed" >
  <table class="table top-margin flex-wrap">
    <thead>
      <tr id="table-header-container">
        <th>Name</th>
        <th>Balance</th>
        <th>Term</th>
        <th>Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr id="loans-table" *ngFor="let loan of loans; let i=index">
        <td>{{loan.name}}</td>
        <td>{{loan.balance}}</td>
        <td>{{loan.term}}</td>
        <td>{{loan.rate}}</td>
        <button *ngIf="deleteLoan" class="btn btn-danger delete-btn" (click)="deleteLoan(i)">Delete</button>
      </tr>
    </tbody>
  </table>
</div>
<form *ngIf="loanFormDisplayed" (ngSubmit)="submitLoanInfo()">
  <div id="loan-form" [formGroup]="loanForm" class="form-group">
    <input formControlName="name" class="form-control">
    <input formControlName="balance" class="form-control">
    <input formControlName="term" class="form-control">
    <input formControlName="rate" class="form-control">
  </div>
  <button class="btn btn-primary float-right">Submit</button>
</form>
<div *ngFor="let loan of loans; let i=index">
  <div class="cash-flows-container" *ngIf="cashFlowsDisplayed && loans">
    <monthly-cash-flows [currentLoan]="loan"></monthly-cash-flows>
  </div>
</div>