#header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.border-bottom {
  border-bottom: 1px solid lightgray;
}

#header h2 {
  margin: 0;
}

#action-container {
  width: 50%;
  display: inline-flex;
  justify-content: flex-end;
}

#action-container button {
  margin-left: 40px;
}

#table-header-container th:nth-child(2) {
  padding-right: 0;
}

#loan-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#loan-form:last-child {
  margin-left: 1em;
}

#loan-form input {
  width: 22%;
  padding-right: 3%;
}

.delete-btn {
  margin-top: 6px;
  float: right;
  margin-left: -74px;
}

.cash-flows-subheader {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  padding-top: 30px;
}

.cash-flows-subheader * {
  display: flex;
  font-size: 1em;
  justify-content: flex-start;
}

.cash-flows-subheader h5:nth-child(odd) {
  padding-right: 2em;
  font-weight: 300;
}

.table {
  margin-bottom: 0;
}

.loan-form-cancel-btn {
  margin-left: 1.5em;
}

.req-fields {
  margin-top: 4em;
}